
<div class="primary-container">
    <header>
        <div class="app-container head">
            <nav class="nav-header">
                <a class="login" target="_blank" href=""></a>
                <div class="separate"></div>
                <a class="mail" target="_blank" href=""></a>
                <button class="search-site"></button>
                <div class="separate"></div>
                <select class="select-nav">
                    <option value="defualt"></option>
                    <option value="house">ביטוח דירה</option>
                    <option value="car">ביטוח רכב</option>
                    <option value="life">ביטוח חיים</option>
                </select>
                <button class="top-compie-button">Compie</button>
                <button class="trusty">trusty.</button>
                <a class="nav-link" target="_blank" href="">&#9776;</a>
            </nav>
            <div class="main-header">
            <article class="welcome-msg"><h1>ביטוח <img src="../../src/images/generated/Car.png"/> רכב </h1>
                <h2>על מנת שתוכל לנסוע על הכביש בלי דאגות תן לנו להתאים עבורך את הפוליסה<br/>
הטובה ביותר עם כיסויים מקיפים במחירים מנצחים ממגוון סוכני הביטוח                          <br/>
.ושתהיה לכם נסיעה טובה                                     </h2>
            </article>
                <button class="expert-button">אשף המחיר</button>
        </div>
        </div>
    </header>
    <section>
        <div class="app-container body">
            <div class="reverse-border-radius">
            <div class="action-bar ">
                <div class="action">
                    <span class="detail">ממלאים פרטים<br/>להצעת ביטוח</span>
                    <span class="number">1</span>
                    <div class="icon"><img src="../../src/images/generated/page.png"/></div>
                </div>
                <img class="arrow-icon" src="../../src/images/generated/action-bar-arrow.png"/>
                <div class="action">
                    <span class="detail ">מקבלים מגוון הצעות<br/>משתלמות מסוכני ביטוח</span>
                    <span class="number ">2</span>
                    <div class="icon"><img src="../../src/images/generated/coins.png"/></div>
                </div>
                <img class="arrow-icon" src="../../src/images/generated/action-bar-arrow.png"/>
                <div class="action">
                    <span class="detail">בוחרים סוכן ביטוח<br/>הטוב ביותר</span>
                    <span class="number">3</span>
                    <div class="icon"><img src="../../src/images/generated/person.png"/></div>
                </div>
                <img class="arrow-icon" src="../../src/images/generated/action-bar-arrow.png"/>
                <div class="action">
                    <span class="detail">רוכשים פוליסה<br/>בקליק</span>
                    <span class="number">4</span>
                    <div class="icon"><img src="../../src/images/generated/palm.png"/></div>
                </div>
            </div>
            </div>
            <div class="body-main">
                <div class="body-menu">
                    <h2 class="menu-title">אשף המחיר</h2>
                    <div class="menu-detail">לקבלת הצעת מחיר מותאמת אישית אנא הזן<br/>את הפרטים הבאים </div>
                    <div class="menu-selectors">
                        <select class="type">
                            <option value="0">בחר את סוג הביטוח</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                        </select>
                        <select class="date">
                            <option value="0">תאריך תחילת השבוע</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                        </select>
                        <select class="car">
                            <option value="0">בחר את סוג הרכב</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                        </select>
                        <select class="driver">
                            <option value="0">מי ינהג ברכב?</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                        </select>
                        <select class="use">
                            <option value="0">מטרת השימוש ברכב</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                        </select>
                        <select class="address">
                            <option value="0">היכן אתה גר?</option>
                            <option value="1">Audi</option>
                            <option value="2">BMW</option>
                        </select>
                    </div>
                    <div class="menu-questions">
                        <div class="questions">
                            <span class=""> האם היה לך ביטוח מקיף או<br/>רכב ליסינג ב-3 שנים<br/> האחרונות?
                              </span>
                            <div class="yes-no-btn">
                                <input type="radio" name="yes-no1" value="yes" id="yes1">
                                <label for="yes1">כן</label>
                                <input type="radio" name="yes-no1" value="no" id="no1">
                                <label for="no1">לא</label>
                            </div>
                        </div>
                        <div class="questions">
                            <span class=""> האם היו לך תביעות רכוש ו/או<br/>גוף ב-3 שנים האחרונות?</span>
                            <div class="yes-no-btn">
                                <input type="radio" name="yes-no2" value="yes" id="yes2">
                                <label for="yes2">כן</label>
                                <input type="radio" name="yes-no2" value="no" id="no2">
                                <label for="no2">לא</label>
                            </div>
                        </div>
                        <div class="questions">
                            <span class="">האם לבן הזוג יש רכב נוסף?</span>
                            <div class="yes-no-btn">
                                <input type="radio" name="yes-no3" value="yes" id="yes3">
                                <label for="yes3">כן</label>
                                <input type="radio" name="yes-no3" value="no" id="no3">
                                <label for="no3">לא</label>
                            </div>
                        </div>
                        <div class="questions">
                            <span class="">האם יש לך עבר פלילי?</span>
                            <div class="yes-no-btn">
                                <input type="radio" name="yes-no4" value="yes" id="yes4">
                                <label for="yes4">כן</label>
                                <input type="radio" name="yes-no4" value="no" id="no4">
                                <label for="no4">לא</label>
                            </div>
                        </div>
                        <div class="questions">
                            <span class="q"> האם שללו לך את הרישיון<br/>בעבר?</span>
                            <div class="yes-no-btn">
                                <input type="radio" name="yes-no5" value="yes" id="yes5">
                                <label for="yes5">כן</label>
                                <input type="radio" name="yes-no5" value="no" id="no5">
                                <label for="no5">לא</label>
                            </div>
                        </div>
                    </div>
                    <div class="banner"></div>
                </div>


                <div class="body-content">
                    <div class="content-nav">
                        <div class="content-nav-title">
                            <h2 class="search-result">נמצאו 3508 סוכני ביטוח</h2>
                        </div>
                        <div class="filter-bar">
                            <div class="filter-wrapper-category-web">
                                <span class="search-title-web">:מיין לפי</span>
                                <select class="filter-by-category-web">
                                    <option>מחיר נמוך לגבוה</option>
                                    <option>מחיר גבוה לנמוך</option>
                                    <option>הכי פופולרי</option>
                                </select>
                            </div>
                            <a class="agent-rating" target="_blank" href="">דירוג סוכן</a>
                            <a class="raters-number" target="_blank" href="">מס' מדרגים</a>
                            <div class="filter-wrapper-region-web">
                                <span class="filter-region-title-web">:סינון לפי אזור</span>
                                <select class="filter-by-region-web">
                                   <option>כל האזורים</option><option>מרכז</option>
                                   <option>דרום</option>
                                   <option>צפון</option>
                                </select>
                            </div>
                            <!--
                            <div class="filter-wrapper-category">
                                <select class="filter-by-category-mobile">
                                    <option>מחיר נמוך לגבוה</option>
                                    <option>מחיר גבוה לנמוך</option>
                                    <option>הכי פופולרי</option>
                                </select>
                                <span class="search-title-mobile">:מיין לפי</span>
                            </div>
                            <div class="filter-wrapper-region">
                                <select class="filter-by-region-mobile">
                                    <option>כל האזורים</option>
                                    <option>מרכז</option>
                                    <option>דרום</option>
                                    <option>צפון</option>
                                </select>
                                <span class="filter-region-title-mobile">:סינון לפי אזור</span>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="content-main">
                     <div class="company-search-result">
                         <div class="company-image"></div>
                         <div class="company-details">
                             <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                             <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                             <div class="company-location-wrapper">
                                <div class="company-location">
                                     <div class="city-wrapper">
                                        <img class="location-icon" src="../../src/images/generated/location.png"/>
                                        <span class="company-city">פתח תקווה</span>
                                    </div>
                                    <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                </div>
                                 <div class="offer-details-mobile">
                                    <div class="price-wrapper-mobile">
                                       <span class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</span>
                                       <span class="price-details-mobile">פרמיה חודשית</span>
                                     </div>
                                     <button class="purchase-mobile"></button>
                                 </div>
                             </div>
                         </div>
                         <div class="offer-details-web">
                             <div class="price-wrapper-web">
                             <span class="company-price-web"><span class="shekel-sign-web">₪</span>483</span>
                             <span class="price-details-web">פרמיה חודשית</span>
                             </div>
                         <button class="purchase-web"></button>
                         </div>
                     </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                        <div class="company-search-result">
                            <div class="company-image"></div>
                            <div class="company-details">
                                <h2 class="company-title">אלמוג יצחקי סוכנות אלמוגים</h2>
                                <span class="company-description">"ריף אלמוגים" הינה חברה בבעלות פרטית הפועלת למען לקוחותיה במישור הכספי בכל טווחי ההשקעה</span>
                                <div class="company-location-wrapper">
                                    <div class="company-location">
                                        <div class="city-wrapper">
                                            <img class="location-icon" src="../../src/images/generated/location.png"/>
                                            <span class="company-city">פתח תקווה</span>
                                        </div>
                                        <img class="company-rating" src="../../src/images/generated/stars.png"/>
                                    </div>
                                    <div class="offer-details-mobile">
                                        <div class="price-wrapper-mobile">
                                            <h2 class="company-price-mobile"><span class="shekel-sign-mobile">₪</span>483</h2>
                                            <span class="price-details-mobile">פרמיה חודשית</span>
                                        </div>
                                        <button class="purchase-mobile"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="offer-details-web">
                                <div class="price-wrapper-web">
                                    <h2 class="company-price-web"><span class="shekel-sign-web">₪</span>483</h2>
                                    <span class="price-details-web">פרמיה חודשית</span>
                                </div>
                                <button class="purchase-web"></button>
                            </div>
                        </div>
                    </div>
                    <div class="pages-menu">
                        <a class="page-number-link" target="_blank" href="">1</a>
                        <a class="page-number-link" target="_blank" href="">2</a>
                        <a class="page-number-link" target="_blank" href="">3</a>
                        <a class="page-number-link" target="_blank" href="">4</a>
                        <a class="page-number-link" target="_blank" href="">5</a>
                        <a class="page-number-link" target="_blank" href="">6</a>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content app-footer">
            <div class="footer-main">
                <div class="compie-about">
                    <button class="compie-button-white">Compie</button>
                    <span class="about">לפרומי בלוף קינץ תתיח לרעח. לת צשחמי<br/>צש בליא, מנסוטו צמלח לביקו ננבי, צמוק<br/>בלוקריה סכעיט דז מא,</span>
                </div>
                <div class="footer-links">
                        <ul class="agents-links">
                            <li><h3 class="agents-title">סוכנים</h3></li>
                            <li><a class="system-login" target="_blank" href="">הרשמה למערכת</a></li>
                            <li><a class="agent-contact" target="_blank" href="">צור קשר</a></li>
                            <li><button class="agents-login">כניסת סוכנים</button></li>
                        </ul>
                    <ul class="important-links">
                        <li><h3 class="important-title">פרטים חשובים</h3></li>
                        <li><a class="use-terms" target="_blank" href="">תנאי שימוש</a></li>
                        <li><a class="privacy-policy" target="_blank" href="">מדיניות פרטיות</a></li>
                        <li><a class="important-contact" target="_blank" href="">צור קשר</a></li>
                    </ul>
                    <ul class="follow-links">
                        <li><h3 class="follow-title">עקבו אחרינו</h3></li>
                        <li><a class="facebook-link" target="_blank" href="">
                            <img class="follow-icon" src="../../src/images/generated/facebook.png"/><span>פייסבוק</span></a></li>
                        <li><a class="twitter" target="_blank" href="">
                            <img class="follow-icon" src="../../src/images/generated/twitter.png"/><span>טוויטר</span></a></li>
                        <li><a class="google-link" target="_blank" href="">
                            <img class="follow-icon" src="../../src/images/generated/google.png"/><span>גוגל פלוס</span></a></li>
                    </ul>
                </div>
                <div class="stay-update">
                    <h3 class="update-title">השאר מעודכן</h3>
                    <span class="signup-text">הירשם לרשימת התפוצה שלנו ואנו נדאג לעדכן<br/>אותך בכל המידע החשוב</span>
                    <div class="email-signup">
                        <img class="white-mail-icon" src="../../src/images/generated/white-mail.png"/>
                        <span class="button-text">כתובת הדוא"ל שלך</span>
                        <img class="check-mark-icon" src="../../src/images/generated/check-mark.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
        <div class="footer-nav app-footer">
            <span class="copy-right">כל הזכויות שמורות</span>
            <span class="design-by">UI & DESIGN BY: AVIOZ</span>
        </div>
        </div>
    </footer>
</div>
